.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 20px;
}
.underline {
  margin: auto;
  width: 120px;
  border-bottom: 1px solid #000;
}
.service {
  background: rgba(72, 29, 73, 0.123);
}

@media only screen and (max-width: 688px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
