.notfound {
  width: 100%;
}

.back-btn {
  padding: 10px 25px;
  background-color: rgb(240, 51, 92);
  color: white;
  border: none;
  font-size: 18px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 688px) {
  .notfound img {
    width: 100%;
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .notfound img {
    width: 100%;
  }
}
